<strong><%= flash[:errors] %></strong>
<% if flash[:error].present? %>
<strong>Please correct the follow errors</strong>
  <ol>
    <% flash[:error_messages].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ol>
<% end %>


<%= form_for [@restaurant, @review, @comment] do |f| %>
<strong>Want to comment something.</strong>
  <fieldset>
  <%#= f.label :body %>
    <%= f.text_area :body, cols: 60, rows: 6 %> <!-- give us  -->
  </fieldset>
  <%= f.submit 'Create', class:"btn btn-primary" %>

<% end %>
