<h2> <em><%= @user.nickname %> </em> </h2>

<%= link_to 'Edit', "/users/#{@user.id}/edit" %>
|
<%#= link_to 'Delete', user_path, method: :delete %>
|
<%= link_to 'Back', "/users" %>

<p>Email: <%= @user.email %></p>
<p>Location: <%= @user.location %></p>
<%= @user.nickname %>
<br>
<%#= cl_image_tag @user.image %>
