
<hr>

<%= link_to 'Add', '/restaurants/new', class:"btn btn-primary" %>
<%= link_to 'Delete', restaurant_path(:id), method: :delete, class:"btn btn-primary"  %>
<%= link_to 'Back to main page', root_path, class:"btn btn-primary" %>
<hr>
<h4>Restaurant Lists</h4>
<br>
<ul>
  <%  @restaurants.each do |restaurant| %>
    <li>
      <em>
         <%= link_to restaurant.name, restaurant_path(restaurant.id) %>

         <%#= link_to restaurant.url_website, restaurant_path(restaurant.id) %>
      </em>
      , <%= restaurant.address%>
      , <%= restaurant.location%> <br>
      average rating: <div class="rating" data-rateyo-rating="<%= restaurant.reviews.sum(:rating)/restaurant.reviews.length %>"></div>
    </li>

  <% end %>
  <!-- <div id="map"></div> -->
</ul>
<div id="map"></div>
<!-- raise 'hell' -->
<script>
 var restaurant_locations = <%= @locations.to_json.html_safe %>;

 function initMap() {
   var map = new google.maps.Map(document.getElementById('map'), {
     zoom: 80,
   });

   var bounds = new google.maps.LatLngBounds();

   for( let i=0; i < restaurant_locations.length; i++ ){
     let restaurant = restaurant_locations[i];
     let m = new google.maps.Marker({
       position: restaurant,
       map: map
     });
     bounds.extend(restaurant);
   }

   map.fitBounds(bounds); // this does the auto-centering

  }
</script>


<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHewMmcudJqvttFYpTrQ-rnh4lM7abFtA&callback=initMap"
      type="text/javascript">
</script>
<script type="text/javascript">
$(".rating").rateYo({
  starWidth: "20px",
  readOnly: true
});
</script>
