<hr>

<%= link_to 'Add', '/restaurants/new', class:"btn btn-primary" %>
<%= link_to 'Delete', restaurant_path(:id), method: :delete, class:"btn btn-primary"  %>
<%= link_to 'Back to main page', root_path, class:"btn btn-primary" %>
<hr>
<h4>Restaurant Lists</h4>
<br>
<ul>
  <%  @restaurants.each do |restaurant| %>
    <li>
      <em>
         <%= link_to restaurant.name, restaurant_path(restaurant.id) %>

         <%#= link_to restaurant.url_website, restaurant_path(restaurant.id) %>
      </em>

        <!-- <a href="<%#= restaurant.url_website %>"><%#= restaurant.name%></a> -->
      , <%= restaurant.address%>
      , <%= restaurant.location%>
    </li>
  <% end %>
</ul>
