<script type="text/javascript">

$(function () {

  $("#rateYo").rateYo({
    rating: <%= @review.rating %>
  });

  $("#rateYo").on('rateyo.set', function (e) {
    let rating =  $(this).rateYo("rating");
    $("#rating").val( rating );
  });

});

</script>

<%= form_for @review do |f| %>
  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title %> <!-- give us  -->
  </fieldset>
  <fieldset>
    <%= f.label :body %>
    <%= f.text_field :body %> <!-- give us  -->
  </fieldset>
  <fieldset>
    <%= f.label :rating %>
    <div id="rateYo"></div>
    <%= f.hidden_field :rating, id: 'rating' %> <!-- used to submit the rateyo star rating  -->
  </fieldset>
  <fieldset>
    <%= f.label :user_id %>
    <%= f.text_field :user_id %> <!-- give us  -->
  </fieldset>
  <fieldset>
    <%= f.label :restaurant_id %>
    <%= f.text_field :restaurant_id %> <!-- give us  -->
  </fieldset>

  <%= f.submit %>
<% end %>
