<h1>Review Lists</h1>

<%= link_to 'Add new review', '/reviews/new' %> |
<%= link_to 'Back to main page', root_path %>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <em>
         <%= link_to review.restaurant.name, review_path(review.id) %>

      </em>
      , <%= review.title%>
      , <%= review.user.email%>

      <div id="rateyo-<%= review.id %>"></div>

    </li>
    <script type="text/javascript">
    $("#rateyo-<%= review.id %>").rateYo({
      rating: <%= review.rating %>,
      starWidth: "20px",
      readOnly: true
    });
    </script>
  <% end %>
</ul>
