<h2>Website: <em>
  <a href="<%= @review.restaurant.url_website %>"><%=  @review.restaurant.name %></a> </em> </h2>

<%= link_to 'Edit', "/reviews/#{@review.id}/edit" %>
|
<%= link_to 'Delete', review_path, method: :delete %>
|
<%= link_to 'Back', "/reviews" %>

<p>Title: <%= @review.title %></p>
<p>Body: <%= @review.body %></p>
Rating:<div id="rateyo-<%= @review.id %>"></div>

<p>Email: <%= @review.user.email %></p>


<script type="text/javascript">
$("#rateyo-<%= @review.id %>").rateYo({
  rating: <%= @review.rating %>,
  starWidth: "20px",
  readOnly: true
});
</script>
