<h1>All Images </h1>

<%= link_to 'Add new image', '/images/new' %> |
<%= link_to 'Back to main page', root_path %>

<ul>
  <%  @images.each do |image| %>
    <li>
      <em>
         <%= link_to image.restaurant.name, restaurant_path(image.restaurant.id) %>
       </em>
      , post by: <%= image.user.email%>
      , <%= image.title%>
      , <%= image_tag image.image_url%>
        <%#= image_tag @work.image  %>
    </li>
  <% end %>
</ul>

<div class="row">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  
</div>
